body {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.main_body {
    margin: 0px;
    display: flex;
    padding: 0px;
    justify-content: flex-start;
    width: 100%;
    height: 100vh;
    background: #ffffff;
    box-sizing: border-box;
}

/* ----- Side Bar ----- */

.side_bar {
    width: 10%;
    background-color: inherit;
}

.dashboard_owner_container{
    position: relative;
}

.dashboard_owner_container::after {
    content: "";
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0px;
    height: 1px;
    background: #505050;
    margin: 0px;
}

.dashboard_owner_container img {
    width: -webkit-fill-available;
    margin: 15px 15px 0px 15px;
}

.sidebar_items {
    list-style-type: none;
    font-size: 15px;
    font-weight: 600;
    color: #333;
}

.logout_button {
    position: absolute;
    bottom: 10px;
    font-size: 25px;
    margin: 0 0 0 10px;
}

ul.sidebar_items {
    margin: 10px 0 0 0;
    padding: 0px;
}

.a_tags a{
    text-decoration: none;
    margin: 10px 0px 0px 0px;
    color: #333;
}

.sidebar_items li {
    padding: 10px 0 0px 0px;
}
/* .sidebar_items li:hover {
    background: #eee;
} */

.a_tags a i {
    /* margin: 0px 5px 0px 0px; */
    padding: 0px 5px 3px 5px;
}

.dropDown {
    margin: 0 0 0 0px;
    padding: 0 0 0 10px;
}

.subMenu {
    display: none;
    padding: 0px 0 0 0px;
    font-size: 14px;
    font-family: system-ui;
    list-style-type: none;
    /* background-color: #5565ff; */
}
.subMenu i{
    font-size: 10px;
}
.subMenu li{
    padding: 5px 0 5px 20px;
}

.subMenu :hover{
    background-color: #d2d2d2;
}

.dropDownArrow {
    float: right;
    margin: 0 5px 0 0px;
}

/* ---- Content body ----- */

.content_body {
    width: -webkit-fill-available;
    font-size: 14px;
    background-color: #deac63;
    min-height: 100vh;
    overflow: auto;
    box-shadow: inset 0px 0px 3px 0px #3f2704;
}

.content_box {
    /* padding: 20px; */
    background: #fbfbfb;
    height: auto;
    margin: 15px;
    border-radius: 10px;
}

.content_header h2 {
    background: linear-gradient(88deg, #d2ac6359, #fbfbfb);
    margin: 0px;
    padding: 8px 15px;
    font-family: monospace;
    font-weight: 500;
    text-align: center;
    font-size: 1.4em;
    box-shadow: -3px 0px 5px rgba(0, 0, 0, 0.1);
    letter-spacing: 0.5px;
    border-radius: 6px;
}

.content_header {
    display: flex;
    justify-content: space-between;
    padding: 10px 0 0 0px;
    font-size: 16px;
    margin: 0px 20px 10px 20px;
}

/* ---- Search and filter plus form box ---- */

.sub_box {
    display: flex;
    align-items: center;
}

.search_bar {
    display: flex
;
}

.search_bar input {
    padding: 10px;
    background: inherit;
    width: inherit;
    font-size: 16px;
    border: 1px solid #bbb;
    border-right: none;
    border-radius: 7px 0 0px 7px;
}

.search_bar input:placeholder-shown {
    font-style: italic;
}

.search_bar i {
    border: 1px solid #bbb;
    padding: 10px;
    border-left: none;
    border-radius: 0px 7px 7px 0;
}

.filter_box {
    padding: 10px;
    margin: 0 0 0 20px;
    border: 1px solid #bbb;
    border-radius: 7px;
    color: #555;
    font-weight: 600;
}

.add_listing_form {
    background: #019885;
    color: #fff;
    padding: 10px;
    border-radius: 7px;
    cursor: pointer;
    font-weight: 500;
    border: none;
    transition: background-color 0.2s ease;
}

.add_listing_form:hover {
    background: #006b5f; /* Darker teal on hover */
}

.add_listing_form a{
    color: #fff;
}



/* ---- response message ---- */

.response_box {
    height: auto;
    width: fit-content;
    background: #5565ff;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    border-radius: 10px;
    font-family: system-ui;
    font-size: 18px;
}

.response_message {
    display: flex;
    height: inherit;
    align-items: center;
    padding: 10px;
}

.response_message p {
    margin: 0px;
}

.response_message span {
    margin: 0px 5px 0px 15px;
    font-size: 27px;
    cursor: pointer;
}

.response_message span i:hover{
    color: red;
}


/* ---- listing content ---- */

.listing_content {
    font-size: 14px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* border-radius: 10px; */
    margin: auto;
    padding: 0 0 15px 0px;
}

div#listingTable_wrapper {
    width: 95%;
}

.listing_content table thead {
    background-color: #f3f6ff;
    color: #555;
}

.listing_content table {
    box-sizing: inherit;
    width: inherit;
}

.listing_content td {
    padding: 15px 10px 10px 10px;
    border-bottom: 1px solid #ddd;
    color: #333;
}

.listing_content tr, th:nth-child(1){
	border:0px solid;
    border-radius:5px 0px 0px 5px;
}

.listing_content th:last-child{
	border:0px solid;
    border-radius:0px 5px 5px 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

th{
    padding: 10px;
    text-align: left;
}

td {
    padding: 10px;
    text-align: justify;
}





.sub_span {
    color: #777;
    font-size: 11px;
    padding: 0 0px 0 0;
    font-family: monospace;
}

i.fas.fa-parking {
    color: #fad300;
    margin: 5px 5px 0 0px;
}

/*---- Delete and Edit ----*/


td.options_box {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 0px 0 0 5px;
}

td.options_box a {
    padding: 7px;
    border-radius: 7px;
    text-align: center;
}

td.options_box a i {
    margin: 0;
    font-size: 14px;
    color: #f5f5f5;
}

.edit_icon {
    margin: 3px 0 5px 0;
    background: #ffdf0091;
}

.edit_icon:hover {
    background: #ffdf2a;
}


.del_icon,
.del_potential{
    background: #ff3838b8;
    margin: 3px 0 3px 0;
}

.del_icon:hover {
    background: red;
    border: 2px #ff0000;
}

/* dummy */


